auth.py
config.py
/__pycache__
/entorno_v
.gitignore
config.py
services/__pycache__/aspectos.cpython-312.pyc
services/__pycache__/editar_evaluacion.cpython-312.pyc
services/__pycache__/registrar_software.cpython-312.pyc
