{% extends 'base_admin.html' %}

{% block content %}
<div class="container-preguntas">
  <h1>Editar Aspecto: {{ aspecto.nombre }}</h1>

  <form action="{{ url_for('aspectos.editar_aspecto', idaspecto=aspecto.idaspecto) }}" method="POST">
    <label for="nombre">Nombre del Aspecto:</label>
    <input type="text" name="nombre" value="{{ aspecto.nombre }}" required>

    <label for="descripcion">Descripción:</label>
    <textarea name="descripcion" required>{{ aspecto.descripcion }}</textarea>

    <label for="idmodelo">Modelo de Evaluación:</label>

    <button class="button-list" type="submit">Actualizar Aspecto</button>
  </form>
</div>
{% endblock %}
