{% extends 'base_admin.html' %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style_admin.css') }}">
</head>
<div class="container-selection">
    <h2 class="titulo">Tipos de evaluación</h2>
    <ul class="lista">
        <li>
            Modelo ISO-25000 
            <a href="{{ url_for('dashboard.seleccionar_modelo', idmodelo=2) }}">
                <button class="button-list">Ingresar</button>
            </a>
        </li>
        <li>
            Modelo IEEE-730 
            <a href="{{ url_for('dashboard.seleccionar_modelo', idmodelo=3) }}">
                <button class="button-list">Ingresar</button>
            </a>
        </li>
        <li>
            Modelo FURPS  
            <a href="{{ url_for('dashboard.seleccionar_modelo', idmodelo=1) }}">
                <button class="button-list">Ingresar</button>
            </a>
        </li>
        <li>
            Modelo MCCALL  
            <a href="{{ url_for('dashboard.seleccionar_modelo', idmodelo=4) }}">
                <button class="button-list">Ingresar</button>
            </a>
        </li>
    </ul>
</div>
{% endblock %}
