<!DOCTYPE html>
<html lang="en">
<head>

    <title>Usuario Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/style_user.css') }}">
</head>
<body>
    <header>
        <div class="container">
          <h1 class="logo"></h1>
    
          <nav>
            <ul>
              <li><a href="{{ url_for('dashboard_user') }}">Home</a></li>
              <li><a href="{{ url_for('auth.logout') }}">Cerrar Sesión</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="titulo">
        <h1>Bienvenido al Panel de Usuario</h1>
      </div>

    
</body>
</html>
