<!DOCTYPE html>
<html lang="en">
<head>

    <title>Usuario Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style_admin.css') }}">
</head>
<body>
    <header>
        <div class="container">
          <h4 class="logo">USER</h4>
    
          <nav>
            <ul>
              <li><a href="{{ url_for('dashboard_user') }}">Home</a></li>
              <li><a href="{{ url_for('dashboard_user') }}">Historial</a></li>
              <li><a href="{{ url_for('auth.logout') }}">Cerrar Sesión</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="container-dashboard">
        <h2 class=" titulo">Realizar evaluacion</h2>
        
        <div class="container-selection">
        <div  >
          <P>NOMBRE DEL SOFTWARE: </P>
          <input id="nombre-software"    class="input-selection" type="text" placeholder="Nombre del software">
          <style>
            .container-selection .input-selection {
              font-family: 'Raleway', sans-serif;
              width: 80%;
              padding: 10px;
              border: 2px solid #12a1d5;
              border-radius: 5px;
              font-size: 16px;
              outline: none;
              transition: border-color 0.3s ease-in-out;
              margin-top: 10px;
            }
          </style>
        </div>
          
            <ul class="lista">
              <ol>Modelo ISO-25000 <a href="{{ url_for('iso25000_user') }}"><button class="button-list">Realizar</button></a></ol>
              <ol>Modelo IEEE-730‎ ‎ ‎ ‎  <a href="{{ url_for('ieee730_user') }}"><button class="button-list">Realizar</button></a></ol>
              <ol>Modelo FURPS  ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎<a href="{{ url_for('furps_user') }}"><button class="button-list">Realizar</button></a></ol>
              <ol>Modelo MCCALL ‎ ‎ ‎ ‎  <a href="{{ url_for('mccall_user') }}"><button class="button-list">Realizar</button></a></ol>
            </ul>
        </div>

      </div>

    
</body>
</html>
