<!DOCTYPE html>
<html lang="en">
<head>

    <title>Usuario Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style_admin.css') }}">
</head>
<body>
    <header>
        <div class="container">
          <h4 class="logo">USER</h4>
    
          <nav>
            <ul>
              <li><a href="{{ url_for('dashboard_user') }}">Home</a></li>
              <li><a href="{{ url_for('dashboard_user') }}">Historial</a></li>
              <li><a href="{{ url_for('auth.logout') }}">Cerrar Sesión</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="container-dashboard">
        
               

        </div>

      </div>

    
</body>
</html>
